header {
    .header {
        height: 80px;
    }

    .page-title {
        display: inline-block;
        .page-title__highlight {
            color: orange;
        }
    }

    .header-help {
        padding-top: 20px;
    }

    .header-help .links {
        color: grey;
    }

    .header-help a {
        color: grey;
        margin: 0px 10px;
    }

    .header-help input {
        display: inline-block;
        width: 200px;
    }

    .navbar-nav li {
        border-left: 1px solid #ccc;
        &:last-child {
            border-right: 1px solid #ccc;
        }
    }
}
