.datagrid {
    background: white;
    height: 500px;
}

.datagrid-container {
    height: 500px;
    .table-striped>tbody>tr:first-child {
        background-color: aliceblue;
    }
    th, td {
        position: relative;
        color: grey;
        &.red {
            color: red;
        }

        &.green {
            color: green;
        }
    }
    .arrow {
        font-size: 1.4em;
        position: absolute;
        top: 0;
        right: 0;
    }
}


.highlight {
    color: orange;
}

.red {
    color: red;
}

.green {
    color: green;
}

.hover,
.ngHeaderContainer {
    background-color: aliceblue;
}

// Kill border
.ngCell,
.ngHeaderCell {
    border: 0px;
}

.ngSortButtonUp,
.ngSortButtonDown {
    top: 13px;
    left: inherit;
}

.ngRow:hover {
    background-color: aliceblue;
}

.table-head {
    background-color: aliceblue;
    th:hover {
        cursor: pointer;
    }
}

.table-row:hover {
    background-color: aliceblue;
}
