<div >

    <div ng-grid="gridOptions"></div>

    <h2 class="text-center">{{title}}</h2>

    <h4 class="text-center">{{key}}</h4>

    <table class="table" ng-show='rows.length'>
        <tr class="table-head">
            <th>
                Ticker
            </th>
            <th>
                Industry
            </th>
            <th>
                Market Cap
            </th>
            <th>
                Price
            </th>
            <th>
                Volume
            </th>
        </tr>
        <tr class="table-row" ng-repeat='row in rows'>
            <td>
                {{ row.ticker }}
            </td>
            <td>
                {{ row.industry }}
            </td>
            <td>
                {{ row.marketcap }}
            </td>
            <td>
                {{ row.price }}
            </td>
            <td>
                {{ row.volume }}
            </td>
        </tr>
    </table>
    <h3 class="text-center" ng-show='!rows.length'> No stocks. </h3>
</div>
